@use '../util' as *;

.article-container {
    width: 90vw;
    max-width: rem(800);
    margin: 0 auto;

    @include breakpoint-up(xlarge) {
        max-width: rem(1200);
    }

    a {
        color: var(--ltgreen);
        opacity:0.9;
        transition: 300ms;
    }

    a:hover,
    a:focus {
        opacity: 0.5;
    }

    .back-to-main {
        margin: rem(40) auto;
        color: var(--ltgreen);
        opacity: 0.9;
    }

    .article {
        padding: rem(40) rem(15) rem(10);
        display: flex;
        flex-direction: column;
        border-top: 2px solid var(--ltgreen);
        border-right: 2px solid var(--alt);
        border-bottom: 2px solid var(--alt);
        border-left: 2px solid var(--alt);
        border-radius: 8px 8px 0 0;
        text-align: left;
        box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0.5);

        @include breakpoint-up(medium) {
            padding: rem(40) rem(30) rem(10);
        }

        @include breakpoint-up(xlarge) {
            padding: rem(50) rem(50) rem(10);
        }

        .category {
            margin-bottom: rem(1);
            letter-spacing: rem(3);
            text-transform: uppercase;
            color: var(--ltgreen);
            font-size: rem(15);

            @include breakpoint-up(medium) {
                font-size: rem(18);
            }
        }

        .estimation {
            margin-bottom: rem(40);
            font-size: rem(14);
            color: rgba(255, 255, 255, 0.6);

            @include breakpoint-up(medium) {
                font-size: rem(16);
            }
        }

        &__img {
            margin: 0 0 rem(40);
            padding-bottom: 60%;
            background-position: center;
            background-size: cover;
            opacity: 0.6;

            @include breakpoint-up(medium) {
                padding-bottom: 50%;
            }

            @include breakpoint-up(xlarge) {
                padding-bottom: 45%;
            }
        }

        &__index {
            margin-bottom: rem(20);

            ul {
                margin-left: rem(20);
                list-style-type: none;

                li {
                    margin-bottom: rem(10);
                    line-height: 1.7;

                    @include breakpoint-up(medium) {
                        font-size: rem(18);
                    }
                }
            }
        }

        h1 {
            margin-bottom: rem(50);
            font-size: rem(36);
            line-height: 1;

            @include breakpoint-up(medium) {
                font-size: rem(44);
                line-height: 1.2;
            }
        }

        h3 {
            margin-bottom: rem(30);
            font-size: rem(29);
            color: var(--ltgreen);

            @include breakpoint-up(medium) {
                font-size: rem(36);
            }
        }

        p {
            margin-bottom: rem(30);
            line-height: 1.8;

            @include breakpoint-up(medium) {
                font-size: rem(18);
            }
        }

        .article-img {
            margin: 0 0 rem(40);
            padding-bottom: 60%;
            background-position: top;
            background-size: cover;
            opacity: 0.9;

            @include breakpoint-up(medium) {
                padding-bottom: 50%;
            }

            @include breakpoint-up(xlarge) {
                padding-bottom: 45%;
            }
        }

        .source {
            color: var(--altgreen);
        }

        iframe {
            border: none;
            width: 100%;

            @include breakpoint-up(medium) {
                height: rem(350);
            }

            @include breakpoint-up(xlarge) {
                height: rem(500);
            }
        }
    }
}