@use '../util' as *;

#articles {
    text-align: center;

    h2 {
        margin-bottom: rem(20);
        flex: 0 0 100%;
    }

    .articles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(20);
        flex-wrap: wrap;
    }

    .article {
        position: relative;
        width: rem(350);
        height: rem(320);
        margin: 0 auto;
        padding: rem(10) rem(20) rem(5);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 10% 50%;
        align-items: center;
        background: linear-gradient(to bottom right, var(--dkgray), var(--alt));
        border-radius: rem(5);
        box-shadow: -1px 15px 30px -12px rgba(0, 0, 0,0.5);
        transition: all 500ms;

        &__topic {
            grid-row: 1 / 2;
            color: var(--ltgreen);
        }

        h3 {
            grid-row: 2 / 3;
            text-align: left;
        }

        &__desc {
            grid-row: 3 / 4;
            text-align: left;
            opacity: 0.8;
        }

        &__img {
            width: 100%;
            height: rem(125);
            grid-row: 4 / 5;
            background: url('/img/project_preview_desktop.svg') center center;
            background-size: cover;
            align-self: bottom;
            opacity: 0.5;
        }
    }

    .article:hover,
    .article:focus {
        box-shadow: -1px 15px 30px -12px rgba(0, 0, 0,0.8);
        transform: scale(1.02);
    }

    .article::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(2);
        background-color: var(--ltgreen);
        opacity: 0;
        transform: scale(0);
        transform-origin: left;
        transition: all 500ms;
    }

    .article:hover::after,
    .article:focus::after {
        opacity: 1;
        transform: scale(1);
    }
}