@use '../util' as *;

.hero {
    margin: rem(15) 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(large) {
        max-width: rem(1024);
        margin: rem(50) auto;
        flex-direction: row;
        gap: rem(75);
    }

    &__info {
        @include breakpoint-up(large) {
            flex: 1 1 50%;
        }

        &--heading {

            @include breakpoint-up(medium) {
                margin: 0 8%;
            }

            @include breakpoint-up(large) {
                margin: auto;
            }
    
            h2 {
                margin-bottom: rem(10);
    
                @include breakpoint-up(medium) {
                    margin-bottom: rem(20);
                }
            }
            
            p {
                margin-bottom: rem(26);
    
                @include breakpoint-up(medium) {
                    margin-bottom: rem(36);
                    font-size: rem(18);
                }
            }
        }

        &--buttons {
            display: flex;
            align-self: start;
            flex-wrap: wrap;
            gap: rem(5);
           
            @include breakpoint-up(medium) {
                margin: 0 8%;
    
                a {
                    margin-right: rem(5);
                }
            }

            @include breakpoint-up(large) {
                margin: auto;
            }
        }
    }
    &__image {
        width: 90%;
        max-width: 350px;
        margin-bottom: rem(20);
        border-radius: 50%;
        overflow: hidden;
        order: -1;
        opacity: 0.9;
        z-index: -1;

        @include breakpoint-up(large) {
            flex: 1 1 50%;
            order: 0;
        }

        img {
            width: 100%;
        }
    }
}