@use '../util' as *;

.hero {
    height: calc(100vh - 60px);
    margin-top: rem(60);
    padding: 5% 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(medium) {
        height: 100%;
        margin: rem(70) 0 8%;
        padding: 5% 10% 0;
    }

    @include breakpoint-up(large) {
        max-width: rem(1004);
        margin: rem(80) auto 8%;
        padding: 5vh 0;
        flex-direction: row;
        gap: rem(130);
    }

    &__info {
        height: 100%;
        padding-top: 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75% 25%;

        @include breakpoint-up(medium) {
            padding-top: 5%;
            grid-template-rows: rem(205) rem(60);
        }

        &--heading {

            h2 {
                margin-bottom: rem(10);
                font-size: rem(34);
    
                @include breakpoint-up(medium) {
                    margin-bottom: rem(20);
                    font-size: rem(38);
                }

                @include breakpoint-up(large) {
                    font-size: rem(42);
                }
            }
            
            p {
                font-size: rem(20);
                line-height: 1.5;

                span {
                    color: var(--ltgreen);
                    font-weight: 500;
                }
            }
        }

        &--buttons {
            display: flex;
            align-self: start;
            flex-wrap: wrap;
            gap: rem(5);
           
            @include breakpoint-up(medium) {    
                a {
                    margin-right: rem(5);
                }
            }

            @include breakpoint-up(large) {
                align-self: end;
            }
        }
    }

    &__image {
        width: rem(320);
        height: rem(320);
        order: -1;
        opacity: 0.9;
        aspect-ratio: 1/1;
        
        @include breakpoint-up(medium) {
            width: rem(350);
            height: rem(350);
        }

        @include breakpoint-up(large) {
            order: 0;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}