@use '../util' as *;

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(50);

    &__personal {
        h2 {
            margin-bottom: rem(20);
            font-size: rem(32);
        }

        p {
            margin-bottom: rem(40);
            font-size: rem(19);
        }

        &--socials {
            display: flex;
            img {
                width: rem(50);
                height: rem(50);
                margin-right: rem(20);
                border-radius: 50%;
                border: 1px solid var(--dkgray);
                transition: ease-in-out 400ms;
            }

            img:hover {
                box-shadow: 0 0 12px 2px var(--ltgreen);
            }
        }
    }

    &__image {
        display: flex;
        margin: auto;
        width: rem(400);
        height: rem(400);
        background-color: var(--white);
        border-radius: 50%;
        overflow: hidden;
 
        img {

        }
    }
}