@use '../util' as *;

html {
	box-sizing: border-box;
	font-size: 100%;
	background: url(../../../images/bg_img.svg) no-repeat center bottom fixed;
	background-size: cover;
	
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:link {
	text-decoration: none;
	color: inherit;
}

body {
	margin: auto;
	padding: 0 rem(20);
	font-family: var(--body);
	color: var(--white);
}

.button-style {
		margin-right: rem(25);
		padding: rem(14);
		border: 1px solid var(--gray);
		font-weight: 500;
		text-transform: uppercase;
		transition: ease-in-out 300ms;

	&:hover {
		box-shadow: 0 0 5px 1px var(--ltgreen);
		border: 1px solid var(--ltgreen);
	}
}