@use '../util' as *;

html {
	box-sizing: border-box;
	font-size: 100%;
	background: url(../../../images/bg_img.svg) no-repeat center bottom fixed;
	background-size: cover;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:link {
	text-decoration: none;
	color: inherit;
}

body {
	max-width: rem(1150);
	margin: auto;
	font-family: var(--body);
	line-height: 1.5;
	color: var(--white);
}

header {
	h1 {
		font-family: var(--heading);
		font-weight: 400;
		font-size: rem(38);
	}
}

.test {
	content: "";
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: .5s ease;
}