:root {
    //Colors
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --graygreen: hsl(193,75%,14%);
    --cyan: hsl(178,100%,30%);
    --ltgreen: hsl(159,92%,56%);
    --ltgreenbg: hsl(159,92%,40%);
    --ltgray: hsl(173,41%,87%);
    --gray: hsl(0,0%,45%);
    --dkgray: hsl(330,3%,12%);

    //Fonts
    --heading: 'Nothing You Could Do', cursive;
    --body: 'Open Sans', sans-serif;
}