:root {
    //Colors
    --dkgray: hsl(330,3%,12%);
    --ltgreen: hsl(159,92%,56%);
    --altgreen: rgb(4, 144, 95);
    --alt: hsl(0, 0%, 14%);

    //Fonts
    --heading: 'Nothing You Could Do', cursive;
    --body: 'Open Sans', sans-serif;
}